body {
    font-family: "Roboto",
        sans-serif;
        color:#434455;
        background-color: #FFFFFF;

}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.firstlogo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.secondlogo{
    color: #2e2f42;
}
.nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.nav .nav-link{
    color: #2e2f42;
}
.nav .nav-link:hover{
    color: #404bbf
}
.nav .nav-link:focus{
    color: #404bbf;
}
.address{
    font-style: normal;
}
.adrlink{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;

}
.adrlink:hover,
.adrlink:focus{
    color:#404bbf;
}
/* #Hero Section */
.hero-section {
    background-color: #2e2f42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.hero-btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

}
.hero-btn:hover,
.hero-btn:focus{
background-color: #404BBF;
cursor: pointer;
}
/* 2 Section */
.second-sec-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.second-sec-title-list{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* 3 Section */ 
.team-section {
    background-color: #F4F4FD;
}

.team-section-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.team-title-list{
    background-color: #FFFFFF;
}

